<div data-options="dxView : { name: 'calendar', title: 'Calendar' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div id="myList" style="margin: 10px;" data-bind="dxList: {
            dataSource: MyExercises,
            grouped: true,
        }">
        <div data-options="dxTemplate:{ name:'group' }">
            <h1 data-bind="text: key"></h1>
        </div>
        <div class="listItem" data-options="dxTemplate:{ name:'item' }">
          <div style="display:inline-block; margin: 5px;">
              <p style="font-size:larger;"><b data-bind="text: name"></b></p>
          </div>
          <p>Uhrzeit: <i data-bind="text: time"></i></p>
          <p>Raum: <i data-bind="text: room"></i></p>
      </div>
  </div>
</div>
</div>
</div>