<div data-options="dxView : { name: 'exercise', title: 'Exercise' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
        	<div id="teacherview">
        		<div class="dx-fieldset">
        			<div class="dx-field">
				        <div data-bind="dxNumberBox: {
				            min: 1,
				            max: 100,
				            value: tasknumbers,
				            placeholder: 'Aufgaben'
				        }">
				        </div>
        			</div>
        			<div class="dx-field">
        				<div data-bind="dxButton: { text: 'Click me', clickAction: startExercise }"></div>
        			</div>
        		</div>
        		<hr>
        		<div id="votedstudentstable" >
        			<table width="80%",ruasdles="all">
	        			<colgroup>
						    <col >
						    <col>
						    <col >
						    <col >
					 	</colgroup>
				 		<thead>
					  		<tr>
					  			<th >Name</th>
					  			<th>1</th>
					  			<th>2</th>
					  			<th>3</th>
					  		</tr>
				 		</thead>
				 		<tbody>
	        				<tr>
	        					<th>Gaertner, Kilian</th>
	        					<th>X</th>
	        					<th>O</th>
	        					<th>X</th>
	        				</tr>
	        				<tr>
	        					<th>Engelhart, Julien</th>
	        					<th>X</th>
	        					<th>X</th>
	        					<th>X</th>
	        				</tr>
	        				<tr>
	        					<th>Dosenkohl, Hans</th>
	        					<th>O</th>
	        					<th>O</th>
	        					<th>O</th>
	        				</tr>
        				</tbody>
        			</table>
        		</div>
        	</div>


    		<div id="studentview">
    			<div>
    				<br>
    				<h1 style="text-align: center;">Aufgabe</h1>
    				<hr>
    				<br>
	    			<table style="margin: 0px auto;" width="90%" >
		        			<colgroup>
							    <col>
							    <col>
						 	</colgroup>
					 		<tbody>
		        				<tr>
		        					<td>Aufgabe 1</td>
		        					<td><div  data-bind="dxCheckBox: { checked: checkedTask1, height: 50, width: 50}"></div></td>
		        				</tr>
		        				<tr>
		        					<td>Aufgabe 2</td>
		        					<td><div data-bind="dxCheckBox: { checked: checkedTask2, height: 50, width: 50}"></div></td>
		        				</tr>
		        				<tr>
		        					<td>Aufgabe 3</td>
		        					<td><div data-bind="dxCheckBox: { checked: checkedTask3, height: 50, width: 50}"></div></td>
		        				</tr>
	        				</tbody>
	    			</table>
	    			<br>
	    			<div style="text-align:right; width:90%">
	    				<div data-bind="dxButton: { text: 'Vote', clickAction: submit, icon: 'comment',width: 75 }"></div>
	    			</div>
    			</div>
    		</div>
      </div>
  </div>
</div>
</div>
</div>