<div data-options="dxView : { name: 'exercise', title: 'Exercise' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
        	<br>
        	<div id="teacherview">
        		<h1>Start Exercise</h1>
        		<div class="dx-fieldset">
        			<div class="dx-field">
        				<div class="dx-field-label">Aufgaben</div>
				        <div class="dx-field-value" data-bind="dxNumberBox: {
				            min: 1,
				            max: 100,
				            value: tasknumbers,
				            width: 100
				        }">
				        </div>
        			</div>
        			<div style="text-align:right;" class="dx-field">
        				<div data-bind="dxButton: { text: 'Start', clickAction: startExercise, icon: 'runner', width: 100 }"></div>
        			</div>
        			<!-- TODO: Implement stop button -->
<!--         			<div style="text-align:right;" class="dx-field">
        				<div data-bind="dxButton: { text: 'Stop', clickAction: startExercise, icon: 'runner', width: 100 }"></div>
        			</div>
 -->        		</div>

        		<hr>
        		<div id="votedstudentstable" >
        			<table width="90%">
				 		<thead>

				 		</thead>
				 		<tbody>
				 			
				 		</tbody>
        			</table>
        		</div>
        	</div>


    		<div id="studentview">
    			<div id="studentviewrunningexercise">
    				<h1 style="text-align: center;">Aufgabe</h1>
    				<hr>
    				<br>
	    			<table id="tovotetable" style="margin: 0px auto;" width="90%" >
		        			<colgroup>
							    <col>
							    <col>
						 	</colgroup>
					 		<tbody>

	        				</tbody>
	    			</table>
	    			<br>
	    			<div style="text-align:right; width:90%">
	    				<div data-bind="dxButton: { text: 'Vote', clickAction: submit, icon: 'comment',width: 75 }"></div>
	    			</div>
    			</div>
                <div id ="studentviewnoexercise">
                    <h1 style="text-align: center;">No Exercise at the moment!</h1>
                </div>
    		</div>
      </div>
  </div>
</div>
</div>
</div>