<script type="text/javascript">
    WeVote.login = function (params) {

    var buttonDisable = ko.observable(true);
    var pw = ko.observable('');
    var uname = ko.observable('');
    var changeField1 = function()
    {
        
        if(viewModel.uname() != "" && viewModel.pw() != "")
            buttonDisable = viewModel.buttonDisable(false);
        else
            buttonDisable = viewModel.buttonDisable(true);

    };

    var loginButton = function()
    {
        
        var isCorrect = false;
        for(var i = 0; i < usernames.length; i++)
        {
            if(viewModel.uname() == usernames[i])
            {
                if(viewModel.pw() == pwds[i])
                    isCorrect = true;
            }
        }

        if(isCorrect)
            WeVote.app.navigate("overview");
        else
            DevExpress.ui.notify("Username or password incorrect!", "error", 1000);
    };

    var regButton = function()
    {
        WeVote.app.navigate("registry");
    }


    var viewModel = {
        buttonDisable: buttonDisable,
        pw : pw,
        uname : uname,
        changeField1 : changeField1,
        loginButton : loginButton,
        regButton : regButton, 
        navBarDisabled : navBarDisabled
    
      
    };
    return viewModel;
};

</script>

<div data-options="dxView : { name: 'login', title: 'Login', layout: 'simple' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxScrollView: {}">
        
        <div class="dx-fieldset">
        <div id = "field1" class="dx-field">    
        <div class="dx-field-label">Username</div>    
        <div class="dx-field-value" data-bind="dxTextBox: { value: uname, placeholder: 'username', valueUpdateAction: changeField1 }"></div>  
        </div>

        <div id = "field2" class="dx-field">
        <div class="dx-field-label">Password</div>
        <div class="dx-field-value" data-bind="dxTextBox: { value: pw, mode: 'password' , placeholder: 'type a password', valueUpdateAction: changeField1 }"></div> 
        </div> 

     
        <div id ="reg" class="button" data-bind="dxButton:{ text:'Register', clickAction: regButton, icon: 'user'}"></div>
        <div id ="log" class="button" data-bind="dxButton:{ disabled: buttonDisable, clickAction: loginButton, text:'Login', icon: 'key', }"></div>
        </div>
        <!-- <div style="text-align: center"> -->

        <!-- </div> -->

        </div>
    </div>
</div>