<div data-options="dxView : { name: 'login', title: 'Login' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxScrollView: {}">
        
        <h1 style="text-align: center">Login</h1>
        <div class="dx-fieldset">
        <div id = "field1" class="dx-field">    
        <div class="dx-field-label">Username</div>    
        <div class="dx-field-value" data-bind="dxTextBox: { value: uname, placeholder: 'username', valueUpdateAction: changeField1 }"></div>  
        </div>

        <div id = "field2" class="dx-field">
        <div class="dx-field-label">Password</div>
        <div class="dx-field-value" data-bind="dxTextBox: { value: pw, mode: 'password' , placeholder: 'type a password', valueUpdateAction: changeField1 }"></div> 
        </div> 

        <div id="wrapper" style='text-align:center; margin-left: 20%; margin-right: 20%'>
            <div style="float:left;" id ="reg" class="button" data-bind="dxButton:{ text:'Register', clickAction: regButton, icon: 'user'}"></div>
            <div style="float:right;" id ="log" class="button" data-bind="dxButton:{ disabled: buttonDisable, clickAction: loginButton, text:'Login', icon: 'key', }"></div>
        </div>
        </div>
        <!-- <div style="text-align: center"> -->

        <!-- </div> -->

        </div>
    </div>
</div>