/*#reg { position: relative;
	 margin-left: 35px;  }      

#log { position: relative; 
       margin-left: 40px;   } */

#field1 {position: relative;
		 margin-top: 20px } 

#field2 {position: relative;
         margin-bottom: 10px;  } 