<div data-options="dxView : { name: 'overview', title: 'Overview'} " >
	<div  data-options="dxContent : { targetPlaceholder: 'content' } " >

		<div data-bind="dxList: { dataSource: Lectures, grouped: true, activeStateEnabled: false }">  
			<div data-options="dxTemplate:{ name:'group' }">
				<h1 data-bind="text: key"></h1>
			</div>

			<div class="listItem" data-options="dxTemplate:{ name:'item' }">
					<div style="display: inline-block; width: 100%; ">
						<div>
							<div style="clear:left; float: left; width: 70%; ">
								<p style="font-size:larger;"><b data-bind="text: name"></b></p>						
								<p>Votiert: <i data-bind="text: voted"></i> / <i data-bind="text: possible"></i></p>
								<p><i data-bind="text: day"></i> <i data-bind="text: time"></i> in <i data-bind="text: room"></i></p>
							</div>
							<div style="float: right; width: 30%; ">
								<div class="button" style="margin-top: 15px; float: right;" data-bind="dxButton:{text:'Vote', clickAction: showVotingPopup, icon: 'plus'}"></div>
							</div>
						</div>
					</div>
			</div>



		</div>

	    <div data-bind="dxPopup: { height: 'auto', visible: popupVisible, closeOnOutsideClick: true }">
	        <div class="dx-clearfix" data-options="dxTemplate : { name: 'title' } ">
	            <h2>Vote</h2>
	        </div>
	        <div data-options="dxTemplate : { name: 'content' } ">
                <div style="" class="dx-field" >
	                <div style="float: left;margin-left: 10%;" data-bind="dxNumberBox:{value: nowPossible, width: '50px'}"></div>
	                <div style="float: right;margin-right: 10%;" data-bind="dxNumberBox:{value: nowVoted, width: '50px'}"></div>
            	</div>
              	<p></p>
                <div style="float: left;" data-bind="dxButton: { text: 'Vote', clickAction: vote, width: '40%' }"></div>
                <div style="float: right;" data-bind="dxButton: { text: 'Cancel', clickAction: cancelVote, width: '40%'}"></div>
	        </div>
	        
	    </div>
	</div>
</div>