<div data-options="dxView : { name: 'registry', title: 'Registry' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
        
        <div class="dx-fieldset">
        
        <div id = "regField1" class="dx-field">    
        <div class="dx-field-label">Name</div>    
        <div class="dx-field-value" data-bind="dxTextBox: { }"></div>  
        </div>

        <div id = "regField1" class="dx-field">
        <div class="dx-field-label">Vorname</div>
        <div class="dx-field-value" data-bind="dxTextBox: { }"></div> 
        </div> 

        <div id = "regField2" class="dx-field">    
        <div class="dx-field-label">Matrikelnr.</div>    
        <div class="dx-field-value" data-bind="dxTextBox: { }"></div>  
        </div>

        <div id = "regField1" class="dx-field">
        <div class="dx-field-label">Username</div>
        <div class="dx-field-value" data-bind="dxTextBox: { }"></div> 
        </div> 

        <div id = "regField1" class="dx-field">    
        <div class="dx-field-label">Passwort</div>    
        <div class="dx-field-value" data-bind="dxTextBox: { mode: 'password', placeholder: 'type a password' }"></div>  
        </div>

        <div id = "regField2" class="dx-field">
        <div class="dx-field-label">Passwort w.</div>
        <div class="dx-field-value" data-bind="dxTextBox: {mode: 'password', placeholder: 'repeat password' }"></div> 
        </div> 

        <div id ="regButton" class="button" data-bind="dxButton:{text:'Register', clickAction: buttonClicked ,icon: 'user'}"></div>
        </div>
        <!-- <div style="text-align: center"> -->

        <!-- </div> -->

        </div>
    </div>
</div>