<div data-options="dxView : { name: 'registry', title: 'Registry', layout: 'simple' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
        
        <div class="dx-fieldset">
        
        <div id = "regField1" class="dx-field">    
        <div class="dx-field-label">Name</div>    
        <div class="dx-field-value" data-bind="dxTextBox: { value: sname, placeholder: 'Type your name!' , valueUpdateAction: changeField}"></div>  
        </div>

        <div id = "regField1" class="dx-field">
        <div class="dx-field-label">Surname</div>
        <div class="dx-field-value" data-bind="dxTextBox: { value: surname, placeholder: 'Type your surname!' , valueUpdateAction: changeField}"></div> 
        </div> 

        <div id = "regField2" class="dx-field">    
        <div class="dx-field-label">Stud ID.</div>    
        <div class="dx-field-value" data-bind="dxTextBox: {value: studID,  placeholder: 'Type your Stud. ID!' , valueUpdateAction: changeField}"></div>  
        </div>

        <div id = "regField1" class="dx-field">
        <div class="dx-field-label">Username</div>
        <div class="dx-field-value" data-bind="dxTextBox: {value: username,  placeholder: 'Type your Username!', valueUpdateAction: changeField }"></div> 
        </div> 

        <div id = "regField1" class="dx-field">    
        <div class="dx-field-label">Passwort</div>    
        <div class="dx-field-value" data-bind="dxTextBox: {value: pw,  mode: 'password', placeholder: 'type a password', valueUpdateAction: changeField }"></div>  
        </div>

        <div id = "regField2" class="dx-field">
        <div class="dx-field-label">Passwort w.</div>
        <div class="dx-field-value" data-bind="dxTextBox: {value: pw2, mode: 'password', placeholder: 'repeat password', valueUpdateAction: changeField }"></div> 
        </div> 

        <div id ="regButton" class="button" data-bind="dxButton:{text:'Register', clickAction: finishReg ,icon: 'user', disabled: buttonDisable}"></div>
        </div>
        <!-- <div style="text-align: center"> -->

        <!-- </div> -->

        </div>
    </div>
</div>