<div data-options="dxView : { name: 'settings', title: 'Settings' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
        <div class="dx-fieldset">
			<div class="dx-field">
				<div class="dx-field-label" style="width:50%">Ask for Feedback</div>
				<div class="dx-field-value" data-bind="dxSwitch: { value: askingFeedback, valueChangeAction: changeAskingFeedback }"></div>
			</div>
			<div class="dx-field">
				<div class="dx-field-label" style="width:50%">Is Teacher</div>
				<div class="dx-field-value" data-bind="dxSwitch: { value: GLOBAL_VARIABLES.isTeacher}"></div>
			</div>
			<div class="dx-field">
				<div class="dx-field-label" id="usernamelabel" ></div>
				<div class="dx-field-value" data-bind="dxButton: {text:'Logout', clickAction: logout, icon: 'key'}" style="width:30%"></div>
			</div>
		</div>
    </div>
</div>